Title: Publications
Date: 7/19/2018, 4:29:08 PM
Category: About-me
Tags: info
Slug: publications
Lang: {{ lang }}
Authors: Pablo Rodríguez-Sánchez
Summary: Academic publications
Modified: 09/24/2024, 11:58:04
{% if lang != "en" %}Translation: True{% else %}{% endif %}

{% if lang == "es" %}

## Publicaciones científicas
He sido autor o coautor en {{ num_publications }} publicaciones científicas:

{{ publications_table }}

## Libros

{{ books_table }}

## Tesis doctoral

{{ thesis_table }}


{% elif lang == "nl" %}

## Wetenschappelijke artikels
Ik ben de auteur of coauteur van {{ num_publications }} wetenschappelijke artikels geweest:

{{ publications_table }}

## Boeken

{{ books_table }}

## PhD disertatie

{{ thesis_table }}


{% else %}

## Scientific articles
I’ve been author or coauthor in {{ num_publications }} scientific articles:

{{ publications_table }}

## Books

{{ books_table }}

## PhD thesis

{{ thesis_table }}


{% endif %}
